<!-- Footer Nav Bar -->
<nav class="navbar fixed-bottom navbar-dark" style="background-color: #00008b;">
    <a class="navbar-brand" href="https://github.com/Blackninja587/INFR-3120-Group-Project">
          <img src="/assets/images/SAO_background.jpg" alt="My Git Logo" style="width:40px; height:40px;" class="rounded-pill"> 
        </a>
        <a class="gitLink" href = "https://github.com/Blackninja587/INFR-3120-Group-Project" style="color: #ffffff;">Our Github Repository</a>
        <h6 class="navbar-text ms-auto" style="color: #ffffff;">&copy; Copyright 2022. All Rights Reserved.</h6>
</nav>