@charset "UTF-8";
main {
    background-color: white;
    margin: 0px;
    padding: 0px;
}

h1{
    margin-left: 50%;
}

/* centering the img */
.imgCenter{
    display: block;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    border: 7px solid #ff8c00;
    border-radius: 20px;
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    background-color: darkblue;
}

.nav-link {
    color: #ff8c00;
}

.navbar-brand h5{
    color: darkorange;
}

.fa-solid.fa-house-chimney {
    color: darkorange;
}

.fa-solid.fa-lg.fa-book {
    color: darkorange;
}

.table.table-bordered {
    color: white;
    background-color: darkblue;
    border: 7px solid black;
}