@charset "UTF-8";
main {
    background-color: white;
    margin: 0px;
    padding: 0px;
}

/* centering the img */
.imgCenter{
    display: block;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    border: 7px solid #ff8c00;
    border-radius: 20px;
}



/* Icons */
.navbar-brand.mb-xlg{
    color: #ff8c00;
}
.fa-solid.fa-house-chimney{
    color: #ff8c00;
}
.fa-solid.fa-lg.fa-book{
    color: darkorange;
}
.fa-solid.fa-lg.fa-sign-out-alt{
    color: darkorange;
}
.fa-solid.fa-lg.fa-sign-in-alt{
    color: #ff8c00;
}
/* -------------------------------- */


.container{
    margin-top: 1%;
    width: 100%;
    height: auto;
    background-color: #ff8c00;
}


form{
    margin-top: 20px;
    transform: translate(50%,0);
    padding-bottom: 5%;
}

/* Page Titles */
.grade-page h1{
    color: white;
    transform: translate(50%,0);
}
.add-page h1{
    color: white;
    transform: translate(80%,0);
}
.edit-page h1{
    color: white;
    transform: translate(80%,0);
}
.login-page h1{
    color: white;
    transform: translate(70%,0);
}
.register-page h1{
    color: white;
    transform: translate(65%,0);
}
/* ------------------------------ */


.table.table-bordered.table-striped.table-hover{
    background-color: white;
    border: #ff8c00;
    transform: translate(10%,0);
}


/* login page */
.row-login{
    transform: translate(-15%,0);
}
.row-register{
    transform: translate(-15%,0);
}